<mj-section>
    <mj-column width="100%">
        <mj-spacer></mj-spacer>
    </mj-column>
</mj-section>

<mj-section>
    <mj-column width="100%">
        {{--  TODO: Change email logo URL  --}}
        <mj-image href="{{ env.APP_URL }}" src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*NvAqNoaERe7VzT-s47PQcw.png" width="147px" height="33px"></mj-image>
    </mj-column>
</mj-section>
